<header header="Articles" />
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary col-md-1 col-xs-12" ng-click="openForm()">
					<span class="fa fa-plus"></span>
				</button>

				<form ng-submit="searchParams.page=1;search(searchParams);" class="pull-right col-md-6 col-xs-12">
					<fieldset>
						<div class="form-group col-md-10 col-xs-12">
							<input type="text" class="form-control" ng-model="searchParams.q" placeholder="Search..." autofocus>
						</div>
						<button type="submit" value="Search" class="btn btn-default col-md-2 col-xs-12">
							<span class="fa fa-search"></span>
						</button>
					</fieldset>
				</form>
			</div>
		</div>
		<br>

		<section class="content invoice" ng-repeat="article in articles">
			<div class="row">
				<div class="col-md-12">
					<h2 class="page-header">
						<i class="fa fa-book"></i> <a href="" ng-click="openForm(article)"><span ng-bind="article.title"></span></a>
						<small class="pull-right">
							<span class="label" ng-class="{'label-success' : article.status === 'POSTED', 'label-default' : article.status === 'DRAFT'}" ng-bind="article.status"></span>
							<a href="" class="btn btn-default btn-xs" ng-click="updateStatus(article, 'POSTED')" ng-show="article.status === 'DRAFT'" title="Publish">
								<span class="fa fa-send"></span>
							</a>
							<a href="" class="btn btn-default btn-xs" ng-click="updateStatus(article, 'DRAFT')" ng-show="article.status === 'POSTED'" title="Revert to Draft">
								<span class="fa fa-history"></span>
							</a>
							<a href="" class="btn btn-danger btn-xs" ng-click="remove(article)">
								<span class="fa fa-trash"></span>
							</a>											
						</small>
					</h2>
				</div>
			</div>
			<div class="row invoice-info">
				<div class="col-sm-8 invoice-col">
					<span ng-bind-html="article.content"></span>
				</div>
				<div class="col-sm-2 invoice-col">
					<strong>Category</strong>
					<br>
					<span class="label label-info" ng-bind="article.category.name"></span>
				</div>
					<div class="col-sm-2 invoice-col">
					<strong>Tags</strong>
					<br>
					<span ng-repeat="tag in article.tags">
						<span class="label label-primary">{{tag.tags}}</span> &nbsp;
					</span>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</section>							
		<section class="content invoice">					
			<div class="row invoice-info footer">
				<div class="col-md-6">
					<pagination total-items="articles.meta.totalElements" ng-model="page" items-per-page="articles.meta.size" ng-change="search(searchParams)"></pagination>
				</div>
				<div class="col-md-4">
					<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
				</div>
				
				<div class="col-md-2">
					<div class="pagination pull-right">Found <span ng-bind="articles.meta.totalElements"></span> entries</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/ng-template" id="articleForm.html">
	<div class="modal-header">
		<h3 class="modal-title">Add Article</h3>
	</div>
	<form name="articleForm" ng-submit="submit(article)" novalidate>
		<div class="modal-body">
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input type="text" id="title" class="form-control" ng-model="article.title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<!--<textarea rows="5" id="content" class="form-control" ng-model=""></textarea>-->
						<div text-angular ng-model="article.content" ta-toolbar="[['h1','h2','h3','p','pre','quote'],['bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent','html','insertLink']]"></div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="category">Category</label>
					<div class="controls">
						<ui-select ng-model="article.category" id="category">
   							<ui-select-match placeholder="Select Category">{{ $select.selected.name }}</ui-select-match>
    						<ui-select-choices repeat="category in categories" refresh="loadCategories($select.search)">
      							<div ng-bind-html="category.name | highlight: $select.search"></div>
    						</ui-select-choices>
  							</ui-select>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="tags">Tags</label>
					<div class="controls">
						<input ng-model="article.tags" class="form-control" type="text" data-role="tagsinput" id="tagsInput" />
					</div>
				</div>
				
			</fieldset>
		</div>
		<div class="modal-footer">
			<input type="submit" value="Save" class="btn btn-primary col-md-3 col-xs-12">
			<a href="" class="btn btn-default col-md-3 col-xs-12" ng-click="updateStatus(article, 'POSTED')" ng-show="article.status === 'DRAFT'" title="Publish">
				<i class="fa fa-send"> Publish</i>
			</a>
			<a href="" class="btn btn-default col-md-3 col-xs-12" ng-click="updateStatus(article, 'DRAFT')" ng-show="article.status === 'POSTED'" title="Revert to Draft">
				<i class="fa fa-history"> Revert to Draft</i>
			</a>
			<span class="label label-danger" ng-show="error">Ops something went wrong!</span>
		</div>
	</form>
	<script>
		$('#tagsInput').tagsinput();
	</script>
</script>
